<h1 style="text-align: center;">Search for a Title</h1>

<div style="text-align: center;">
<form action="/result" method="get">
	<label>Movie Title:</label><br>
	<input type="text" placeholder="Move Name..." name="search">
	<input type="submit" value="Submit">
</form
</div>